<section class="route map-developments-uploads map-developments-upload">
    <h1>Upload Development Files</h1>
    <div class="left-panel-links">
      {{#link-to 'map'}}
        <img src="/assets/images/chevrons-left.svg">
        Close
      {{/link-to}}
    </div>
    {{#file-upload name="developmentUpload" accept="text/csv" onfileadd=(action 'uploadFile')}}
            <div class="icon-wrapper">
        <img src="/assets/images/plus.svg">
        </div>

        File upload
    {{/file-upload}}
</section>
