<section class="route map-developments-uploads map-developments-development">
<h1>Upload Development Files</h1>

{{#file-upload name="developments" accept="text/csv" onfileadd=(action 'uploadFile')}}
        <div class="icon-wrapper">
    <img src="/assets/images/plus.svg">
    </div>

    File upload
{{/file-upload}}
</section>
