<div class="footerlogo-collection">
    <img src="/assets/images/ambag_short.png" class="logo-image footer">
    <img src="/assets/images/bcag_short.png" class="logo-image footer">
    <img src="/assets/images/slocog_short.png" class="logo-image footer">
    <img src="/assets/images/shasta_short.png" class="logo-image footer">    
    <img src="/assets/images/trpa_short.png" class="logo-image footer">
</div>
