<div class="logo-collection">
    <img src="/assets/images/logo-with-text.png" class={{if small "logo-image sign-up" "logo-image"}}>
    <img src="/assets/images/logo_slocog.png" class={{if small "logo-image sign-up" "logo-image"}}>
    <img src="/assets/images/logo_srta.png" class={{if small "logo-image sign-up" "logo-image"}}>
</div>