<article>
  <header>
    <h1>Welcome to CalBuilds!</h1>
    <button class="close" onclick={{action 'dismissWelcome'}}>x</button>
  </header>
  <p>
    CalBuilds is your Metropolitan Planning Organization’s collaborative inventory of past, present and future real estate development projects. This tool provides governments, data analysts, urban planners, community advocates, and real estate developers with comprehensive data for thousands of projects across California.
  </p>
  <div class="button-row">
    {{link-to 'Learn more' 'about'}}
    <button class="styled" onclick={{action 'dismissWelcome'}}>
      Continue to CalBuilds
    </button>
  </div>
</article>
