<section class="route info-page glossary">

  <header>
    <img src='/assets/images/logo.png'>
    <img src='/assets/images/logo_slocog.png'>

    {{link-to 'Back to CalBuilds' 'map'}}
  </header>

  <main>
    <h1>Glossary</h1>

    <ul class="terms-list">
      {{#each glossaryTerms as |term|}}
        {{#if term.table }}
          {{glossary-list-table-item
            label=term.label
            definition=term.definition
            unitsLong=term.unitsLong
            table=term.table
          }}
        {{else}}
          {{glossary-list-item
            label=term.label
            definition=term.definition
            unitsLong=term.unitsLong
          }}
        {{/if}}
      {{/each}}
    </ul>
  </main>

  <footer>
    <img src="/assets/images/ambag-logo.png">
  </footer>

</section>
